.content{
    width:50%;
    height: 30%;
    position: absolute;
    top:35%;
    left:25%;
    text-align: center;
    color:white;
}
.window{
    border:7px solid black;
    border-radius: 5px;
    height: 80%;
}
#stopwatch, #timer{
    display:none;
}
input[type=number]{
    width:30px;
}
h1{
    font-size:80px;
    text-shadow: 4px 4px black;
    margin: 25px 0px 0px 0px;
}
h3{
    margin: 15px 0px 0px 0px;
    font-size: 27px;
    text-shadow: 2px 2px black;
}
body{
    background-image: url(back.jpeg);
}